.admin-row,
.dashboard-row {
    display: flex;
    flex-direction: row;

    border-top: 2px solid #00081a;
}

/* sidebar styling in dashboard.css */
.admin-content,
.dashboard-content {
    padding: 0 50px;
    flex-grow: 1;
}
.side-bar {
    min-width: 280px;
}

@media only screen and (max-width: 992px) {
    .admin-row,
    .dashboard-row {
        display: flex;
        flex-direction: column;

        border-top: 2px solid #00081a;
    }
    .side-bar {
        min-height: auto;
    }
    .side-bar ul li {
        display: inline-block;
    }
    .admin-content,
    .dashboard-content {
        padding: 0 15px;
    }
}
